---
import Layout from "../layouts/Layout.astro";

const urls = [
  {
    image: "/webdesktop/estudiantes.png",
    alt: "Icono 1",
    url: "#",
    name: "Estudiantes",
  },
  {
    image: "/webdesktop/uvirtual.png",
    alt: "Icono 2",
    url: "#",
    name: "Uvirtual",
  },
  {
    image: "/webdesktop/biblioteca.png",
    alt: "Icono 3",
    url: "#",
    name: "Biblioteca",
  },
  {
    image: "/webdesktop/clases.svg",
    alt: "Icono 3",
    url: "/clases-impartidas",
    name: "Clases Impartidas",
  },
  {
    image: "/webdesktop/cerrar-sesion.png",
    alt: "Icono 4",
    url: "/",
    name: "Cerrar Sesión",
  },
];
---

<Layout title="Webdesktop" icon="/webdesktop/webdesktop.ico">
  <div class="flex flex-col">
    <section class="desktop grow">
      <nav class="flex flex-col gap-5 m-4">
        {
          urls.map(({ image, alt, url, name }) => (
            <a href={url} class="flex flex-col items-center w-16 group">
              <img class="size-12" src={image} alt={alt} />
              <p class="text-xs text-center w-full line-clamp-1 group-hover:line-clamp-none h-4">
                {name}
              </p>
            </a>
          ))
        }
      </nav>
    </section>
    <div class="taskbar">
      <img src="/webdesktop/desktop.png" alt="Logo de Windows" />

      <div id="date-time"></div>
    </div>
  </div>
</Layout>

<script>
  const dateTimeDisplay = document.getElementById("date-time");

  function updateDateTime() {
    const now = new Date();
    const day = String(now.getDate()).padStart(2, "0");
    const month = String(now.getMonth() + 1).padStart(2, "0");
    const hour = String(now.getHours()).padStart(2, "0");
    const minute = String(now.getMinutes()).padStart(2, "0");
    const dateTimeString = `${day}/${month} ${hour}:${minute}`;
    dateTimeDisplay.textContent = dateTimeString;
  }

  updateDateTime();
  setInterval(updateDateTime, 1000 * 60);
</script>

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  .desktop {
    background-image: url("/webdesktop/background.jpg");
    background-size: cover;
    background-position: bottom right;
    height: 100%;
    padding-bottom: 35px;
  }

  .taskbar {
    background: #cce5f5; /* Celeste */
    color: #0e51a9;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    box-shadow: 0px -1px 10px #00000080;
  }

  .taskbar img {
    height: 30px; /* Altura del logo de Windows */
    width: 35px; /* Ancho del logo de Windows */
  }

  .taskbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff4d;
  }

  #date-time {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-right: 16px;
    color: #0e51a9;
  }
</style>
